@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #010101;
}

.head {
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.wrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #010101;
    color: #fff;
    gap: 20px;
}

.box {
    background-color: #222;
    padding: 30px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.box:hover {
    background-color: #333;
    cursor: pointer;
    transition: 0.4s;
}

@media screen and (max-width:768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:576px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer a {
        margin-right: 1rem;
    }
}

p:hover {
    background-color: black;
    border-radius: 5px;
    padding-left: 3px;    
    padding-right: 3px;
    filter: invert(100%);
}

.value {
    width: 70px;
    padding: 2px;
}

.box:hover {
    -webkit-animation: selection 1s infinite;  /* Safari 4+ */
    -moz-animation: selection 1s infinite;  /* Fx 5+ */
    -o-animation: selection 1s infinite;  /* Opera 12+ */
    animation: selection 1s infinite;  /* IE 10+, Fx 29+ */
}

@keyframes selection {
50% {
    filter: invert(100%);
    transition: all 0.1s ease-in;
}
}

.dark-mode {
    filter: invert(100%) hue-rotate(180deg);
}

.dark-mode-img {
    filter: invert(100%) hue-rotate(180deg);
}

.switch {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #333;
}

input:focus + .slider {
    box-shadow: 0 0 1px #333;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
